<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess</title>
    <link rel="stylesheet" type="text/css" href="static/css/StylingOutputPage.css">
</head>
<body>

    <div class="container">
    <div>
        <p id="guess">The Neural Network's best guess was <strong>{{guess}}</strong> with a certainty of
        <strong>{{certainty}}%</strong></p>
    </div>

        <div id="certaintyPlot">
        <center><label>Certainty plot</label></center>
        <img src="static/plots/certainty_plot.png" alt="certainty plot">
        </div>

        <div id="uploadedImage">
        <center><label>Uploaded image</label></center>
        <br/>
        <img src="static/uploads/picture.png" alt="Given input">
        </div>

        <div id="exampleParsedImage">
        <center><label>An example of the (last) parsed image by neural network</label></center>
        <br/>
        <img src="static/normalizedPictures/picture.png" width = 150 alt="Given input">
        </div>
    <div>
        <form action='/' method='get'>
            <input type='submit' value='Go back' id="goBackButton"/>
        </form>
    </div>
    </div>
<footer>Author: Burak Kucuktopal

    <br/>
        <a href="https://github.com/BurakKTopal">Github</a>
    <br/>
    </footer>
</body>
</html>